.status {
  height: 29px;
  position: relative;
  width: 76px;
}

.status .text-wrapper {
  color: #0072bc;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.status:hover .text-wrapper {
  color: #a2a2a2;
}

