.upload-file {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .upload-file .div {
    background-color: #fafafa;
    height: 1691px;
    overflow: hidden;
    position: relative;
    width: 1512px;
  }
  
  .upload-file .image {
    height: 111px;
    left: -12188px;
    object-fit: cover;
    position: absolute;
    top: -126px;
    width: 196px;
  }
  
  .upload-file .overlap {
    height: 87px;
    left: 196px;
    position: absolute;
    top: 43px;
    width: 1316px;
  }
  
  .upload-file .rectangle {
    background-color: #0072bc;
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1316px;
  }
  
  .upload-file .frame {
    align-items: center;
    display: inline-flex;
    gap: 21px;
    left: 1083px;
    position: absolute;
    top: 14px;
  }
  
  .upload-file .frame-wrapper {
    height: 35.99px;
    position: relative;
    width: 187px;
  }
  
  .upload-file .frame-2 {
    align-items: center;
    display: flex;
    gap: 21px;
    height: 36px;
    position: relative;
    width: 187px;
  }
  
  .upload-file .vector {
    height: 32.2px;
    position: relative;
    width: 30px;
  }
  
  .upload-file .img {
    height: 32px;
    position: relative;
    width: 32px;
  }
  
  .upload-file .log-out {
    height: 24px;
    position: relative;
    width: 77px;
  }
  
  .upload-file .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .upload-file .rectangle-2 {
    background-color: #fafafa;
    border-radius: 20px;
    height: 83px;
    left: 519px;
    position: absolute;
    top: 4px;
    width: 172px;
  }
  
  .upload-file .navbar {
    align-items: center;
    display: inline-flex;
    gap: 35px;
    left: 45px;
    position: absolute;
    top: 18px;
  }
  
  .upload-file .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .upload-file .text-wrapper-3 {
    color: #0072bc;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .upload-file .rectangle-3 {
    height: 150px;
    left: 0;
    position: absolute;
    top: 1541px;
    width: 1512px;
  }
  
  .upload-file .logo {
    height: 111px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 19px;
    width: 196px;
  }
  
  .upload-file .rectangle-4 {
    background-color: #0072bc;
    height: 7px;
    left: 46px;
    position: absolute;
    top: 237px;
    width: 1420px;
  }
  
  .upload-file .overlap-group {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c5c5c5;
    border-radius: 15px;
    height: 312px;
    left: 196px;
    position: absolute;
    top: 343px;
    width: 1113px;
  }
  
  .upload-file .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 490px;
    letter-spacing: -0.64px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
  }
  
  .upload-file .progress {
    height: 125px;
    left: 147px;
    position: absolute;
    top: 118px;
    width: 127px;
  }
  
  .upload-file .div-wrapper {
    background-image: url(./ellipse-4.svg);
    background-size: 100% 100%;
    height: 125px;
    left: 0;
    position: absolute;
    top: 0;
    width: 125px;
  }
  
  .upload-file .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 32px;
    letter-spacing: -0.48px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 51px;
    white-space: nowrap;
    width: 62px;
  }
  
  .upload-file .ellipse {
    height: 125px;
    left: -12188px;
    position: absolute;
    top: -147px;
    width: 125px;
  }
  
  .upload-file .overlap-wrapper {
    height: 125px;
    left: 839px;
    position: absolute;
    top: 118px;
    width: 127px;
  }
  
  .upload-file .overlap-2 {
    background-image: url(./image.svg);
    background-size: 100% 100%;
    height: 125px;
    position: relative;
    width: 125px;
  }
  
  .upload-file .ellipse-2 {
    height: 125px;
    left: 0;
    position: absolute;
    top: 0;
    width: 125px;
  }
  
  .upload-file .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 159px;
    letter-spacing: -0.40px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
  }
  
  .upload-file .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 851px;
    letter-spacing: -0.40px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 66px;
    white-space: nowrap;
  }
  
  .upload-file .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 14px;
    left: 196px;
    position: absolute;
    top: 262px;
  }
  
  .upload-file .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .upload-file .frame-4 {
    height: 95px;
    left: 196px;
    position: absolute;
    top: 718px;
    width: 475px;
  }
  
  .upload-file .text-wrapper-9 {
    color: #000000;
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: -1px;
    width: 475px;
  }
  
  .upload-file .frame-5 {
    align-items: flex-end;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c5c5c5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 59px;
    justify-content: center;
    left: 0;
    padding: 8px 11px;
    position: absolute;
    top: 36px;
    width: 475px;
  }
  
  .upload-file .frame-6 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 442px;
  }
  
  .upload-file .frame-7 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .upload-file .text-wrapper-10 {
    color: #8c8c8c;
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .upload-file .vector-2 {
    height: 18px;
    position: relative;
    width: 18px;
  }
  
  .upload-file .frame-8 {
    align-items: center;
    background-color: #0072bc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 42px;
    justify-content: center;
    padding: 9px 10px;
    position: relative;
    width: 129px;
  }
  
  .upload-file .frame-9 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    position: relative;
  }
  
  .upload-file .vector-3 {
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .upload-file .text-wrapper-11 {
    color: #ffffff;
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .upload-file .frame-10 {
    height: 95px;
    left: 841px;
    position: absolute;
    top: 718px;
    width: 475px;
  }
  
  .upload-file .frame-11 {
    height: 95px;
    left: 841px;
    position: absolute;
    top: 831px;
    width: 475px;
  }
  
  .upload-file .frame-12 {
    height: 95px;
    left: 841px;
    position: absolute;
    top: 944px;
    width: 475px;
  }
  
  .upload-file .frame-13 {
    height: 95px;
    left: 196px;
    position: absolute;
    top: 831px;
    width: 475px;
  }
  
  .upload-file .frame-14 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 132px;
    position: relative;
  }
  
  .upload-file .frame-15 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 11px;
    position: relative;
  }
  
  .upload-file .frame-16 {
    height: 95px;
    left: 196px;
    position: absolute;
    top: 944px;
    width: 475px;
  }
  
  .upload-file .frame-17 {
    height: 95px;
    left: 196px;
    position: absolute;
    top: 1057px;
    width: 475px;
  }
  
  .upload-file .frame-18 {
    height: 95px;
    left: 196px;
    position: absolute;
    top: 1170px;
    width: 475px;
  }
  
  .upload-file .frame-19 {
    height: 95px;
    left: 196px;
    position: absolute;
    top: 1283px;
    width: 475px;
  }
  
  